<div class="" style="max-width: 300px; margin: 35px auto;">
    Need to send images, audio files, and/or videos over text message to send a better message to your potential or current customers?<br />
    Our service allows you to complete any of these actions using our fighly functional API and web service Twitter Art (amall web-r
</div>

<h5 class="text-center" style="margin: 30px auto 60px;"><strong>LOG IN</strong></h5>

<form class="form-box" action="{{ website }}/index.php?a=login" method="post">
    <div class="group-input">
        <i class="fas fa-user"></i><input type="text" name="username" placeholder="Username" required />
    </div>
    <div class="group-input">
        <i class="fas fa-lock"></i><input type="password" name="password" placeholder="Password" required />
    </div>

    <input type="submit" class="submit" name="login" value="LOGIN" />
</form>

<div class="options">
    <a href="{{ website }}/index.php?a=register"><i class="fas fa-user"></i> Νέος Λογαριασμός</a>
    <em>Forgot Password?</em>
</div>